@import "tailwindcss";

@theme {
  --color-primary: #0ea5e9;
  --color-secondary: #64748b;
  --color-accent: #f43f5e;
}

body {
  background-color: var(--color-slate-50);
  color: var(--color-slate-900);
}